<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="cn.edu.gdut.mapper.UserinfoMapper">

	<resultMap type="UserinfoModel" id="UserinfoModelMap">
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
		<result property="emailStatus" column="email_status"/>
	</resultMap>

	<insert id="insertUser" parameterType="UserinfoModel">
		insert into userinfo
		(username,password,email,create_time,modify_time)
		values
		(#{username},#{password},#{email},now(),now())
	</insert>

	<select id="selectUser" parameterType="UserinfoModel" resultMap="UserinfoModelMap">
		SELECT
			username,password,email,status,create_time,modify_time,email_status
		FROM
			userinfo
		WHERE
			status = 0
			<if test="username != null and username != ''">
				and username=#{username}
			</if>
			<if test="email != null and email != ''">
				and email=#{email}
			</if>
	</select>

	<update id="updateUser" parameterType="UserinfoModel">
		update userinfo
		set modify_time = now()
		<if test="password != null and password != ''" >
			, password = #{password}
		</if>
		<if test="email != null and email != ''">
			, email = #{email}
		</if>
		<if test="emailStatus != null">
			, email_status = #{emailStatus}
		</if>
		where username = #{username}
	</update>

</mapper>


